/**************************Account Add***************************/
#providers {  }
#providers li { opacity: 0.5; padding: 10px 15px; }
#providers li:hover { opacity: 1; }

#add-email-intro { font-size: 15px; }
#email-add-disclaimer { color: #5F5F6E; margin-top: 100px; font-size: 12px; line-height: 20px; }
.add-email-button-container { margin-top:30px; margin-bottom:20px;text-align:center; }
.add-email-button-container a { width: 130px; }

.provider-image { float: left; margin-left: 20px; width: 300px; position: relative; top: 30px; }
.provider-email-input-container { float: left; }
.provider-image img { vertical-align: middle; }

.error { font-size: 15px; margin: 10px 0px; padding: 10px; }

/******** ThankYou Page ************/
#thankyou-text-container { margin: 40px auto 150px; }
.thankyou-text { font-size: 18px; line-height: 30px; margin: 0 auto; text-align: center; width: 600px; }
.thankyou-text strong { font-weight: bold; }
.add-email-button-container a.add-more { width: 250px; }

#deny-text-container { }
.deny-text { font-size: 16px; line-height: 30px; width: 600px; }
#deny-text-container ul li { font-family: Georgia, Arial; color: #555; font-size: 16px; list-style: lower-alpha; list-style-position: inside; }
.deny-additional-text { font-size: 16px; }