/****** Sign in form ******/
#signin-container { float: right; margin: -80px 0 0 0; }
#main-page-signin-form {}
#main-page-signin-form p { display: inline-block; *display: inline-block; zoom: 1; }
#main-page-signin-form input[name] { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border: 1px solid #CCC; font-size: 13px; margin-right: 10px; opacity:0.8; padding: 5px; width: 160px; }
#main-page-signin-form input:hover { box-shadow: 0 0 2px rgba(120,120,120,0.3); -moz-box-shadow: 0 0 2px rgba(120,120,120,0.3); -webkit-box-shadow: 0 0 2px rgba(120,120,120,0.3); opacity: 1; }

#main-page-signin-form input[type="button"] { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; background: #EEE; background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#FFF), to(#DDD)); border: 1px solid #CCC; font-size: 13px; font-weight: bold; padding: 5px 10px; }
#main-page-signin-form input[type="button"]:active { background: #CCC; background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#DDD), to(#CCC)); }

#tag-lines-container { float: left; margin-top: 67px; max-width: 550px; }
#tag-lines-container h2 { color: #FE9424; font-weight: normal; font-size: 25px; }

#signup-container { float: right; font-size: 15px; line-height: 25px; margin-top: 40px; }

.wrapper { padding-top: 0; }

#landing-img-container { float:right; margin-top: -26px; }
#landing-img-container img { height: 450px; margin-right: 40px; }
#landing-tag-line-container { color:#222;font-family:HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;font-size:35px;font-weight:bold;float:left;text-align:center;clear:both;margin-top:126px; }
#landing-fb-login {float:left;margin-top:90px;width:400px;}
#landing-tag-line-container, #landing-fb-login {margin-left:25px;}
#fb-login { cursor:pointer; }
a.FBConnectButton, .FBConnectButton {
	cursor: pointer;
	text-decoration: none;
}

.FBConnectButton {
	background: #29447E url(/resources/images/connect_sprite.png);
	background-repeat: no-repeat;
	cursor: default;
	display: inline-block;
	padding: 0 0 0 1px;
	text-decoration: none;
	outline: none;
}

.FBConnectButton .FBConnectButton_Text {
	background: #5F78AB url(/resources/images/connect_sprite.png);
	border-top: solid 1px #879AC0;
	border-bottom: solid 1px #1A356E;
	color: white;
	display: block;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight: bold;
	padding: 12px 6px 14px;
	margin: 1px 1px 0 0;
	text-shadow: none;
	margin-left: 37px;
	font-size: 16px; 
}

.FBConnectButton_Small {
	background-position: left -307px;
	font-size: 10px;
	line-height: 10px;
}

h3 { padding-top: 25px; }
#top_menu { margin-top: 10px; }
#top_menu a.active, #top_menu a, #top_menu a:visited { color: #4AAADB !important; }
#top_menu a:hover { text-decoration: underline; color: #4AAADB !important; }
#header_bar { background-image: none; }
#top_logo {
	float: left;
	width: 200px;
	height: 164px;
	margin-top: 0;
	margin-bottom: 0;
	position: absolute;
	top: -18px;
}

#beta-invite-input { color: #5F5F6E; float: left; width: 140px; height: 23px; font-size: 14px; background: none; border: 1px solid #CCC;}